*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(201, 74, 74);
    height: 100vh;
}
.box{
    width: 70vw;
    height: 70vh;
    background-color: rgba(255, 0, 0, 0.637);
    position: relative;
    top: 15vh;
    left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{

}
.sec1{
    flex: 50%;
    background-color: antiquewhite;
    justify-content: center;
    height: 70vh;
    padding: 4rem 8rem;
    text-align: center;
}

section p{
    font-size: 3rem;
}
.sec2{
    flex: 50%;
    background-color: rgb(240, 143, 16);
    justify-content: center;
    height: 70vh;
    padding: 4rem 8rem;
    text-align: center;
}

.curbox{
    height: 8rem;
    width: 10rem;
    background-color: red;
    text-align: center;
    margin-top: 8rem;
    margin-left: 3.8rem;
}
button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.newgame{
    position: absolute;
    top: 20vh;
    left: 44vw;
}
.roll-dice{
    position: absolute;
    top: 65vh;
    left: 44vw;
}
.hold{
    position: absolute;
    top: 75vh;
    left: 46vw;
}
.dice{
    height: 15vh;
    position: absolute;
    top: 35vh;
    left: 46vw;
}